@import url(https://fonts.googleapis.com/css?family=Nunito);


body,html{
    height: 100%;
    width: 100%;
}
.bg-parallax{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}
/*==============authentication=============*/

#auth-main{
    height: 100%;
    width: 100%;
    background-image: url('../images/bg8.jpg');

}

.card-login{
width: 300px;
height: 380px;
background: #2EC4B6;
border-radius: 15px;
margin-top: 10%;
margin-left: auto;
margin-right: auto;
}

.auth-header{
width: 74px;
height: 24px;
font-family: Oswald;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 28px;
color: rgba(255, 255, 255, 0.7);
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}



.card-login input[type="email"],
.card-login input[type="password"],
.card-login input[type="email"]:focus,
.card-login input[type="password"]:focus
 {
    width: 211.06px;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	padding: 7px;
	border: none;
    border-bottom: 2px  solid rgba(245, 241, 241, 0.7);
    margin-left: 45px;
    color: #fff;
    background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;

}
.form-group{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.form-check{
    margin-left:45px;
    color: white;
}

.btn-login{
    width: 211.6px;
    height: 35px;
    color:#fff;
    background: #E71D36;
    border-radius: 10px;
    margin-left:45px;
}
.forgot-password{
 color: white;
 margin-left: 70px;
}
.auth-img{
    height:50px;
    width:100px;
    margin-left: 100px;
    margin-bottom: 20px;

}
